<div *ngIf="account" novalidate (submit)="modify()">
<h2>{{'account.welcome' | translate}} {{account.username}}</h2>
<form [formGroup]="updateUserForm">
  <div class="form-group" [ngClass]="{'has-error' : formErrors.email}">
    <div class= "flex inline-input">
    {{'account.email' | translate}}
    <input class="form-control" formControlName="email" type="email" placeholder="{{account.email}}" (blur)="logValidationErrors()">
    <button type="submit" [disabled]="updateUserForm.pristine || updateUserForm.invalid "  class="btn btn-success account-btn">
      {{'account.button' | translate}}
    </button>
    </div>
    <div>
      <div *ngIf="formErrors.email" class="alert alert-danger">
        {{formErrors.email}}
      </div>
      <div *ngIf="newMail" class="alert alert-danger">
        {{newMail}}
      </div>
    </div>
  </div>
</form>
</div>