.form-control {
    width: 300px;
}

input, .alert {
    margin: auto;
}

.alert-danger {
    width: 30%;
    min-width: 450px;
    margin-top: 20px;
}


.form-group, .alert, h2 {
    text-align: center;
    
}
.flex {
    display: flex;
}

.inline-input {
    width: 30%;
    min-width: 450px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.account-btn {
    margin: 0px 50px;
}

@media screen and (max-width: 850px) {
    .flex {
      display: block;
    }
    .inline-input, .alert-danger {
        width: 100%;
        min-width: 200px;
    }
}