main {
    padding: 10px;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:0px 10px;
}

a:hover {
    color : lightcoral;
}

.active-white {
    color : white;
}

.sidenav {
    height: 88vh;
}

mat-toolbar, mat-sidenav {
    background-color : #e9041e;
}

a {
    text-decoration-line: none;
}

.adminOnly {
    color : #e9041e;
}
/*
.container-custom {
    border: 2px solid red;
    
}
*/