<section fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <mat-toolbar>
      <button mat-icon-button fxShow="true" fxHide.gt-sm="true">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Share Your Knowlegde</h1>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-md="true">
        <a mat-button [routerLink]="['/accounts']" [routerLinkActive]="['active-white']"
          *ngIf="isAuthenticated()">{{'navbar.account' | translate}}</a>
        <a mat-button [routerLink]="['/login']" [routerLinkActive]="['active-white']"
          *ngIf="!isAuthenticated()">{{'navbar.sign-in' | translate}}</a>
        <a mat-button [routerLink]="['/create-account']" [routerLinkActive]="['active-white']"
          *ngIf="!isAuthenticated()">{{'navbar.sign-up' | translate}}</a>
        <a [matMenuTriggerFor]="subject" mat-button [routerLinkActive]="['active-white']"
          [class.active-white]="isActive('subject')"
          *ngIf="isAuthenticated()">{{'navbar.subject.dropdown' | translate}}</a>
        <a mat-button [routerLink]="['/contacts']"
          [routerLinkActive]="['active-white']">{{'navbar.contacts' | translate}}</a>
        <a mat-button (click)="logout()" *ngIf="isAuthenticated()">{{'navbar.logout' | translate}}</a>
        <img src="../../../assets/img/united-kingdom-flag.png" alt="" (click)="useLanguage('en')">
        <img src="../../../assets/img/french-flag.png" alt="" (click)="useLanguage('fr')">
      </div>
    </mat-toolbar>
  </div>
  <!-- Burger SideNavBar begins-->
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/accounts'" [routerLinkActive]="['active-white']"
          *ngIf="isAuthenticated()">{{'navbar.account' | translate}}</a>
        <a mat-list-item [routerLink]="'/login'" [routerLinkActive]="['active-white']"
          *ngIf="!isAuthenticated()">{{'navbar.sign-in' | translate}}</a>
        <a mat-list-item [routerLink]="'/create-account'" [routerLinkActive]="['active-white']"
          *ngIf="!isAuthenticated()">{{'navbar.sign-up' | translate}}</a>
        <a mat-list-item [matMenuTriggerFor]="subject" [routerLinkActive]="['active-white']" *ngIf="isAuthenticated()"
          [class.active-white]="isActive('subject')">{{'navbar.subject.dropdown' | translate}}</a>
        <a mat-list-item [routerLink]="'/contacts'"
          [routerLinkActive]="['active-white']">{{'navbar.contacts' | translate}}</a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>{{'navbar.close' | translate}}</a>
        <a mat-list-item (click)="logout()" *ngIf="isAuthenticated()">{{'navbar.logout' | translate}}</a>
        <a a mat-list-item><img src="../../../assets/img/united-kingdom-flag.png" alt=""
            (click)="useLanguage('en')"></a>
        <a a mat-list-item><img src="../../../assets/img/french-flag.png" alt="" (click)="useLanguage('fr')"></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav">
        <div class="container-custom" layout-align="center center" style="min-height:88vh;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- Burger SideNavBar ends-->
</section>

<!-- Dropdown menu for Subject Component-->
<mat-menu #subject="matMenu">
  <a mat-menu-item [routerLink]="['/subject', {action: 'post'}]">{{'navbar.subject.post' | translate}}</a>
  <a mat-menu-item [routerLink]="['/subject', {action: 'vote'}]">{{'navbar.subject.vote' | translate}}</a>
  <!-- <a class="adminOnly" mat-menu-item [routerLink]="['/subject', {action: 'delete'}]"
    *ngIf="isAdmin()">{{'navbar.subject.delete' | translate}}</a> -->
</mat-menu>
