.form-group, .alert{
    text-align: center;
}

.form-control, .alert {
    width: 60%;
}

input, .alert {
    margin: auto;
}

button {
    background-color: #e9041e;
}

.btn {
    margin-left: 50%;
    transform: translateX(-50%);
}

a {
    color: black;
    text-decoration: none;
}

.no-account {
    margin-top: 20px;
}