<div class="vertical-center black">
    <form [formGroup]="logInForm" novalidate (submit)="logIn()">
        
        <input type="hidden" class="form-control" formControlName="client_id" [value]="my-client-app">
        <input type="hidden" class="form-control" formControlName="grant_type" [value]="password">
    
   
    <div class="form-group">
        <label>{{'login.username' | translate}}</label>
        <input class="form-control" formControlName="username" type="text">
    </div>
    <div>
        <div>
          
        </div>
    </div>
     <div class="form-group">
        <label>{{'login.password' | translate}}</label>
        <input class="form-control" formControlName="password" type="password">
    </div>
    <div>
        <div>
          
        </div>
    </div>
    <button type="submit"
        [disabled]="logInForm.pristine || logInForm.invalid" class="btn btn-success">
        {{'login.button' | translate}}
    </button>
</form>
    <div class="text-center">{{'login.no-account-yet' | translate}}</div>
</div>