.form-group, .alert {
    text-align: center;
}

.form-control, .alert {
    width: 60%;
}

input,textarea, .alert {
    margin: auto;
}

button {
    background-color: #e9041e;
}

.btn {
    margin-left: 50%;
    transform: translateX(-50%);
}

