subject in progress
<!--
  <form [formGroup]="subjectForm" novalidate (submit)="postSubject()">
    <div class="form-group" [ngClass]="{'has-error' : formErrors.title}">
      <label>{{'subject.title' | translate}}</label>
      <input class="form-control" formControlName="title" type="text" (blur)="logValidationErrors()">
    </div>
    <div>
      <div *ngIf="formErrors.title" class="alert alert-danger">
        {{formErrors.title}}
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : formErrors.description}">
      <label>{{'subject.description' | translate}}</label>
      <input class="form-control" formControlName="description" type="text" (blur)="logValidationErrors()">
    </div>
    <div>
      <div *ngIf="formErrors.description" class="alert alert-danger">
        {{formErrors.description}}
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : formErrors.category}">
      <label>{{'subject.category' | translate}}</label>
      <input class="form-control" formControlName="category" type="description" (blur)="logValidationErrors()">
    </div>
    <button type="submit" [disabled]="subjectForm.pristine || subjectForm.invalid" class="btn btn-success">
     {{'subject.button' | translate}}
    </button>
  </form>
-->