<!--
  Users & admin section : post and vote for subject
-->
<!-- post -->
<div *ngIf="action =='post'">
  <form [formGroup]="subjectForm" novalidate (submit)="postSubject()">
    <div class="form-group" [ngClass]="{'has-error' : formErrors.title}">
      <label>{{'subject.title' | translate}}</label>
      <input class="form-control" formControlName="title" type="text" (blur)="logValidationErrors()">
    </div>
    <div>
      <div *ngIf="formErrors.title" class="alert alert-danger">
        {{formErrors.title}}
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : formErrors.description}">
      <label>{{'subject.description' | translate}}</label>
      <textarea class="form-control" formControlName="description" type="text"
        (blur)="logValidationErrors()"></textarea>
    </div>
    <div>
      <div *ngIf="formErrors.description" class="alert alert-danger">
        {{formErrors.description}}
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error' : formErrors.category}">
      <mat-form-field appearance="fill">
        <mat-label>{{'subject.category' | translate}}</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button type="submit" [disabled]="subjectForm.pristine || subjectForm.invalid" class="btn btn-success">
      {{'subject.button' | translate}}
    </button>
  </form>
</div>

<!-- vote -->
<div *ngIf="action==='vote'">
  <div class="ag-grid-flex">
    <div class="grid-container">
      <ag-grid-angular style="width: 100%;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs"
        [gridOptions]="gridOptions" domLayout='autoHeight'>
      </ag-grid-angular>
    </div>
  </div>
</div>



<!--
Admin section only : delete subject menu
-->
<div *ngIf="isAdmin() && action=='delete'">
  <label>id:
    <input [(ngModel)]="id" placeholder="id" type="number" />
  </label>

  <button (click)="deleteSubject()">Delete</button>
</div>
