<div class="grid-container">
    <ag-grid-angular 
        style="width: 100%;" 
        class="ag-theme-alpine" 
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        domLayout='autoHeight'>
    </ag-grid-angular>
</div>
<div class="cache-container grey">
    <h4>Cache management</h4>
    <div class="cache-button-container">
        <button class="btn btn-success red vertical-20" (click)="refreshCacheCategories()">Categories</button>
    </div>
</div>